.news-wrapper {
  padding: 40px 0;
}

.news-container {
  padding: 50px 0;
}

.news-img {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.news-title {
  margin-top: 48px;
}

.news-title-black {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

.news-sign {
  margin-top: -40px;
}

.news-form {
  margin-top: 60px;
}

.news-input {
  border: 1px solid #EBEBEB;
  width: 320px;
  height: 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A1A1A1;
}

.news-btn {
  width: 175px;
  height: 45px;
  background: #000000;
  border: none;
  color: white;
}

.news-signup {
  margin-top: 40px;
}

.news-signup__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A1A1A1;
  margin-left: 10px;
}

@media (max-width: 780px) {
  .news-title-black  {
    font-size: 32px;
  }

  .news-btn {
    margin-top: 18px;
  }
}

@media (max-width: 500px) {
  .news-title-black  {
    font-size: 22px;
  }
}