.footer-main-wrapper {
    padding: 40px 0;
}

.footer-main-container {
    padding: 50px 0;
}

.footer-main-logo {
   margin-bottom: 40px;
}

.footer-main-description {
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
    max-width: 340px;
    margin: 48px auto;
}

.contact-img {
    margin-bottom: 12px;
}

.contact-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 1px;
}

.contact-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 780px) {
    .contacts {
        flex-direction: column;
        margin: -20px 0;
    }

    .view-contacts {
        margin: 20px 0;
    }
}