.footer-wrapper {
    padding-top: 20px;
    background: rgba(219, 219, 219, 0.1);
}

.footer-container {
    padding: 20px 0;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #6C6C6C;
}