.main-top-wrapper {
    padding: 40px 0;
}

.main-top-container {
    padding: 90px 0;
}

.title-black-wrapper {
    margin-top: 48px;
}

.main-top-sign {
    margin-top: -40px;
}

.view-wrapper {
    margin-top: 40px;
}

.view-components {
    padding: 40px 0;
}

.view-block {
    width: 240px;
    height: 240px;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.view-block--brown {
    background: #E4B366;
}

.view-block--orange {
    background: #F05B10;
}

.view-block--red {
    background: #A21010;
}

.view-block__image {
    margin-bottom: 12px;
    margin-top: 12px;
}

.view-block__text {
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 38px;
    color: #FFFFFF;
}

.features-wrapper {
    margin-top: 20px;
    padding: 20px 0;
}

.features-grid {
    margin: 0 -58px;
}

.features {
    margin: 0 58px;
}

.features__title {
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
}

.features__desc {
    color: $grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 32px;
}

@media (max-width: 1432px) {
    .features-grid {
        margin: 0 -50px;
    }
    
    .features {
        margin: 0 50px;
    }
}

@media (max-width: 1200px) {
    .features-grid {
        margin: -24px -40px;
    }
    
    .features {
        margin: 24px 40px;
    }
}

@media (max-width: 775px) {
    .view-wrapper {
        margin: -20px auto;
    }

    .view-components {
        flex-direction: column;
    }

    .view-block {
        margin: 20px auto;
    }
}